// Place all the styles related to the Messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {margin-left: 10%; margin-right: 10%;}
div.logo {width: 100px;}
div.container {width: 400px;}

